<h1>Goals</h1>

<ul>
 <% @goals.each do |goal| %>
  <% if goal.user_id == current_user.id || goal.visibility == "Public" %>
   <li><%= link_to goal.body, goal_url(goal) %></li>
  <% end %>
 <% end %>
</ul>


<%= link_to "Add Goal", new_goal_url %>
