<h1>New Goal</h1>

<form action="<%= goals_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">

  <label for="body">Goal</label>
  <textarea name="goal[body]" id="body" rows="8" cols="40"></textarea>

  <input type="radio" name="goal[visibility]" id="vis_private" value="Private">
  <label for="vis_private">Private</label>

  <input type="radio" name="goal[visibility]" id="vis_public" value="Public">
  <label for="vis_public">Public</label>

  <input type="submit" value="Create Goal">

</form>
